    <p>ARIANNA PAIANI, nata a Cividale del Friuli nel 1991 ha iniziato lo studio del pianoforte all’età di sei anni e si è diplomata con il massimo dei voti presso il Conservatorio “J. Tomadini” di Udine sotto la guida del M. Giovanni Baffero.</p>
    <p>Ha frequentato diverse masterclass e corsi di perfezionamento con i Maestri: Andrea Lucchesini, Daniel Rivera, Alexandar Serdar e Lukas Michel.</p>
    <p>Ha studiato anche con il M. Andrea Rucli e con la M. Maria Felicita Russo-Perez.</p>
    <p>Nel 2009, ha partecipato al progetto “Settimana della Musica” curato dal MIUR, esibendosi presso la sede del Ministero dell’Istruzione a Roma, presentando un repertorio che è stato successivamente registrato presso la sede Rai di Trieste.</p>
    <p>Dal 2009 al 2011 è stata collaboratrice pianistica nella classe di flauto e musica da camera del M. Maurizio Valentini, con il quale ha cooperato durante i corsi estivi di Perfezionamento Musicale di Cividale e di Santa Margherita Ligure.</p>
    <p>Ogni anno, da quando vi ha partecipato, ha superato le audizioni interne al Conservatorio per i concerti finali degli studenti.</p>
    <p>Si è esibita in diversi eventi, concerti e rassegne musicali tra cui: “Giovani talenti cividalesi”, “Tonus” di Fagagna, “Lignano per... la musica”, “Concerti aperitivo” a Pordenone ed altri anche fuori regione.</p>
    <p>Laureanda presso la facoltà di Scienze della Formazione Primaria dell’Università degli Studi di Udine, sta lavorando ad una tesi sull’educazione musicale.</p>
    <p>Interessata alla didattica della musica e all’insegnamento del pianoforte, dal 2012 segue i corsi di formazione per docenti di educazione musicale “Willems” presso il CRDM di Majano partecipando a seminari e congressi nazionali ed internazionale.</p>
    <p>Nel 2014 ha superato brillantemente l’esame di “Metodologia dell’insegnamento strumentale” sostenuto presso il Conservatorio di Udine.</p>
    <img class="photo" src="/jpg/arianna_paiani.jpg" alt="Arianna Paiani" title="Arianna Paiani" width="400" />
