    <script src="/js/graphics.js" type="text/ecmascript"></script>

    <p>Ci&ograve; che d&agrave; maggior onore al gruppo corale &egrave; la giovane et&agrave; dei suoi componenti (quarantacinque circa)
    che dedicano parte del loro tempo libero allo studio di musiche che richiedono sensibilit&agrave;, diligenza
    interpretativa, precisione e convergenza su una finalit&agrave; artistica comune, personale sacrificio e
    rinuncia all'anonimato dei divertimenti che loro propone la societ&agrave; attuale.</p>
    <p>Il coro ha accompagnato pi&ugrave; volte la Santa Messa solenne di mezzanotte nell'<a href="http://www.abbaziadirosazzo.it/" title="Sito dedicato all'abbazia di Rosazzo (link esterno)" target="_blank">Abbazia di Rosazzo</a>, &egrave; stato
    invitato ad eseguire il suo particolare <a href="repertory.html" accesskey="r" title="(Alt + r)"><span class="shortcut">r</span>epertorio</a> nella Chiesa di San Francesco e nel Duomo di Cividale,
    in occasione delle presentazioni dei calendari artistici che da diversi anni la <a href="http://www.civibank.it/" title="Sito ufficiale della Banca di Cividale (link esterno)" target="_blank">Banca di Cividale</a> edita
    e che raccolgono riproduzioni di tesori e affreschi delle numerose Chiese locali, creando cos&igrave; una felice
    simbiosi tra i canti medievali e le immagini, guidando il pubblico nel passato.</p>
    <p>Assieme alla <a href="http://www.cividale.net/" title="Sito ufficiale dell'amministrazione civica di Cividale (link esterno)" target="_blank">Civica Amministrazione di Cividale</a> ha collaborato all'organizzazione di concerti di: "<i>Musica
    senza frontiere</i>".</p>
    <p>Nell'edizione del <a href="http://www.mittelfest.org/" title="Sito ufficiale del Mittelfest (link esterno)" target="_blank">Mittelfest</a> 2000 ha partecipato, sia come coro sia come comparse, allo spettacolo
    inaugurale: "<i>Il formaggio e i vermi</i>", tratto dal saggio di Carlo Ginsburg per la regia di Giorgio
    Pressburger, spettacolo che &egrave; stato replicato in regione, a Roma (Ostia antica) e a Spalato in Croazia.</p>
    <a href="/jpg/choir.jpg" onclick="graphics_showPhoto('choir','jpg',640,480,0,'Il coro in trasferta a Pescara'); return false"><img class="photo" src="/jpg/choir.jpg" width="400" height="320" alt="Il coro in trasferta a Pescara" title="Il coro in trasferta a Pescara (clicca per ingrandire)" /></a>
