    <script src="/js/graphics.js" type="text/ecmascript"></script>

    <p>Il coro, fin dall'anno di fondazione, ha costituito e costituisce l'asse portante di tutta la poliedrica attività artistico-musicale-culturale della Accademia Musicale Culturale HARMONIA.</p>
    <p>Il gruppo corale attualmente è costituito da oltre trenta elementi, diversi per età, estrazione socio-lavorativa, esperienza esistenziale e titolo di studio.</p>
    <p>I coristi, si ritrovano, nei giorni di Lunedì e Giovedì, per impegnare il proprio tempo libero nello studio delle elementari nozioni di teoria musicale e nell'apprendimento delle tecniche interpretative dei brani scelti dal <a href="giuseppe_schiff.html">Direttore Artistico</a>.</p>
    <p>La sensibilità, la diligenza interpretativa ha consentito al gruppo corale di essere chiamato ad esibirsi sia all'interno dei confini regionali che nazionali e all'estero (Austria, Croazia, Germania e Slovenia).</p>
    <p>Ha partecipato alle edizioni del MITTELFEST nel 2000, 2003 e 2007.</p>
    <p>Oltre che a cappella, la sezione corale si esibisce con l'accompagnamento di Organo, Pianoforte e/o Orchestra.</p>
    <p>Onde permettere ai coristi di essere presenti alle prove almeno una volta alla settimana, il Direttore Artistico tiene le lezioni teorico-pratiche, per tutto il corso dell'anno, nei seguenti giorni della settimana:</p>
    <table>
     <tr><td>LUNEDI</td><td>ore 20:30 - 22:15</td></tr>
     <tr><td>GIOVEDI</td><td>ore 20:30 - 22:15</td></tr>
    </table>
    <p>Alla sezione corale possono aderire, senza alcun versamento di quote di iscrizione, tutti coloro che, accettando responsabilmento lo statuto e il regolamento dell'Accademia, desiderano fare una esperienza artistico-musicale di alto livello.</p>
    <p>Possono iscriversi invece, come soci, tutti coloro che vogliono sostenere nei modi e nelle maniere che riterranno opportune, le attività culturali e artistiche che il direttivo dell'Accademia Musicale-Culturale HARMONIA programma all'inizio di ogni anno.</p>
    <!-- a href="/jpg/choir.jpg" onclick="graphics_showPhoto('choir','jpg',1024,768,0,'Il coro in trasferta a Pescara'); return false"><img class="photo" src="/jpg/choir.jpg" width="400" height="320" alt="Il coro in trasferta a Pescara" title="Il coro in trasferta a Pescara (clicca per ingrandire)" /></a -->
