    <div id="contacts">
     <p>In questa pagina potete trovare i recapiti per contattare l'Accademia Musicale - Culturale "HARMONIA" e richiedere informazioni.</p>
 
     <ul>
      <li class="vcard" id="hcard-accademia-musicale-culturale-harmonia">
       <b class="fn org">Accademia Musicale - Culturale "HARMONIA"</b><br />
       <span class="adr"><span class="street-address">via Rubignacco, 18/A/3</span><br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 733796</span><br />
       <span class="tel"><span class="type">fax</span>: <span class="value">+39 0432 733796</span></span><br />
       <span class="tel"><span class="type">cell</span>: <span class="value">+39 333 5852512</span></span><br />
       e-mail: <a class="email" href="mailto:&#105;&#110;&#102;&#111;&#64;&#97;&#99;&#99;&#97;&#100;&#101;&#109;&#105;&#97;&#104;&#97;&#114;&#109;&#111;&#110;&#105;&#97;&#46;&#111;&#114;&#103;">&#105;&#110;&#102;&#111;&#64;&#97;&#99;&#99;&#97;&#100;&#101;&#109;&#105;&#97;&#104;&#97;&#114;&#109;&#111;&#110;&#105;&#97;&#46;&#111;&#114;&#103;</a>
      </li>
      <li class="vcard" id="hcard-Paola-Gasparutti">
       <b class="fn n"><span class="given-name">Paola</span> <span class="family-name">Gasparutti</span></b> (<span class="role">presidente</span>)<br />
       <span class="adr"><span class="street-address">via del L&ocirc;f, 23</span><br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 730925</span><br />
       <span class="tel"><span class="type">cell</span>: <span class="value">+39 347 3931338</span></span><br />
       e-mail: <a class="email" href="mailto:&#112;&#97;&#111;&#108;&#97;&#103;&#97;&#115;&#112;&#97;&#114;&#117;&#116;&#116;&#105;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;">&#112;&#97;&#111;&#108;&#97;&#103;&#97;&#115;&#112;&#97;&#114;&#117;&#116;&#116;&#105;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;</a>
      </li>
      <li class="vcard" id="hcard-Giuseppe-Schiff">
       <b class="fn n"><span class="given-name">Giuseppe</span> <span class="family-name">Schiff</span></b> (<span class="role">direttore artistico</span>)<br />
       <span class="adr"><span class="street-address">via Rubignacco, 18/A/3</span><br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 733796</span><br />
       <span class="tel"><span class="type">fax</span>: <span class="value">+39 0432 733796</span></span><br />
       <span class="tel"><span class="type">cell</span>: <span class="value">+39 333 4990906</span></span><br />
       e-mail: <a class="email" href="mailto:&#105;&#109;&#109;&#97;&#110;&#117;&#101;&#108;&#107;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;">&#105;&#109;&#109;&#97;&#110;&#117;&#101;&#108;&#107;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;</a>
      </li>
      <li class="vcard" id="hcard-Giuseppe-Russo">
       <b class="fn n"><span class="given-name">Giuseppe</span> <span class="family-name">Russo</span></b> (<span class="role">responsabile amministrativo</span>)<br />
       <span class="adr"><span class="street-address">via Adige, 21</span><br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 733831</span><br />
       <span class="tel"><span class="type">cell</span>: <span class="value">+39 346 7498671</span></span><br />
       e-mail: <a class="email" href='mai&#108;&#116;o&#58;giu&#37;7&#51;%&#54;&#53;p&#112;&#37;&#54;5&#46;ru&#115;%73o2%&#51;3&#37;3&#52;&#64;&#116;%6&#57;n&#46;com'>g&#105;usep&#112;e&#46;russo2&#51;4&#64;&#116;&#105;n&#46;com</a> 
      </li>
     </ul>

    </div>
