    <div id="contacts">
     <p>In questa pagina potete trovare i recapiti per contattare l'Accademia Musicale - Culturale "HARMONIA" e richiedere informazioni.</p>
 
     <ul>
      <li>
       <span><b>Accademia Musicale - Culturale "HARMONIA"</b></span><br />
       via Rubignacco, 18/3<br />
       33043 Cividale del Friuli (UD)<br />
       Tel.: +39 0432 733796 / 733062<br />
       Fax.: +39 0432 733626 / 740092<br />
       e-mail: <a href="mailto:accademiaharmonia&#64;interfree&#46;it">accademiaharmonia&#64;interfree&#46;it</a>
      </li>
      <li>
       <a name="gasparutti"></a>
       <span><b>Paola Gasparutti</b></span> (presidente)<br />
       e-mail: <a href="mailto:paolagas2000&#64;libero&#46;it">paolagas2000&#64;libero&#46;it</a>
      </li>
      <li>
       <span><b>Giuseppe Schiff</b></span> (direttore artistico)<br />
       e-mail: <a href="mailto:immanuelk&#64;libero&#46;it">immanuelk&#64;libero&#46;it</a>
      </li>
     </ul>

     <p>Abbiamo anche creato un gruppo su <a href="http://www.facebook.com/" title="Facebook (link esterno)">Facebook</a>, visitabile a questo indirizzo:</p>
     <p><a href="http://www.facebook.com/group.php?gid=30443711685" title="HARMONIA su Facebook (link esterno)">http://www.facebook.com/group.php?gid=30443711685</a></p>
    </div>
