    <div id="events">
     <p><strong>Dal 13 luglio al 29 settembre</strong>

       <div>
         <a href="https://docs.google.com/file/d/0B-Hr_YadL0j1Vm9Wd01hVkdxYjQ/edit?usp=sharing" title="Clicca per scaricare il pdf della locandina"><img src="/png/tabulae_pictae_locandina.png"/></a><br /><br />
         <a href="https://docs.google.com/file/d/0B-Hr_YadL0j1R0JYTmlwbUxYLUk/edit?usp=sharing" title="Clicca per scaricare il pdf del depliant"><img src="/png/tabulae_pictae_depliant.png"/></a>
       </div>
     </p>

     <p>Di seguito vengono riportati tutti i prossimi eventi musicali e culturali in programma organizzati dall'Accademia Musicale - Culturale &quot;HARMONIA&quot;.</p>

     <p>Per restare aggiornati sulle attivit&agrave; dell'Accademia Musicale-Culturale &quot;HARMONIA&quot; <a href="http://www.google.com/calendar/feeds/info%40accademiaharmonia.org/public/basic">sottoscrivete il feed</a>!</p>

      <!-- Google Calendar -->
      <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;hl=it&amp;bgcolor=%23f5f5f5&amp;src=info%40accademiaharmonia.org&amp;color=%232952A3&amp;ctz=Europe%2FRome" style="border-width:0" width="410" height="500" frameborder="0" scrolling="no"></iframe>
    </div>
