    <div id="events">
     <p>Di seguito vengono riportati tutti i prossimi eventi musicali e culturali in programma organizzati dall'Accademia Musicale - Culturale &quot;HARMONIA&quot;.</p>
     
      <h4>Nessun evento in programma</h4>
      <p>Per restare aggiornati sulle attivit&agrave; dell'Accademia Musicale-Culturale &quot;HARMONIA&quot; <a href="/rss/it/harmonia.rss">sottoscrivete il feed <acronym title="Really Simple Syndication">RSS</acronym></a>!</p>
    </div>
