    <p>GIUSEPPE SCHIFF, nato a PORPETTO (Udine) il 26 febbraio 1948, nel 1974 si è laureato in Pedagogia presso la Facoltà di Magistero dell’Università di Trieste con una tesi su <em>Il mistero ontologico in Gabriel Marcel</em>.</p>
    <p>Dal 1976 al 1994 ha insegnato <em>Materie Letterarie</em> nelle Scuole Medie Statali e contemporaneamente, fino al 1991, <em>Filosofia e Pedagogia</em> presso l’Istituto Magistrale Orsoline di Cividale del Friuli.</p>
    <p>Dal 1987 al 1991 è stato docente incaricato di <em>Psicologia, Sociologia, Etica professionale e Psicologia applicata alla professione</em> presso la Scuola Infermieri dell’Ospedale di Cividale.</p>
    <p>Dal 1990 al 1994 ha ricoperto l’incarico di Consigliere Comunale di Cividale del Friuli.</p>
    <p>Dal 1985 al 1992 è stato Presidente del Distretto Scolastico n.11 di Cividale del Friuli.</p>
    <p>Dal 1983 è membro dell'<a href="http://adif.interfree.it/index.html" title="Sito ufficiale dell'ADIF (link esterno)" target="_blank"><acronym title="Associazione Docenti Italiani di Filosofia">A.D.I.F.</acronym></a> (Associazione Docenti Italiani di Filosofia), di cui, dal 2000, è Vice – Presidente Nazionale e per la quale, dal 1992, organizza biennalmente, assieme ai componenti del consiglio nazionale, in diverse città italiane, i Convegni di Filosofia, tre dei quali (nel 1992, 2003, 2007), tenutisi a Cividale del Friuli su <em>Filosofia e Cultura nell’Europa di domani</em>; <em>Filosofia e Arte</em>; <em>Verità del corpo</em>.</p>
    <p>È Vice – Direttore della Rivista  <em>“Per la Filosofia – Filosofia e insegnamento”</em>, periodico pubblicato dalla Associazione Docenti Italiani di Filosofia e conosciuto a livello internazionale.</p>
    <p>Nel 2008, assieme alla Segretaria Nazionale dell’A.D.I.F., la Maestra <a href="paola_gasparutti.html">Paola Gasparutti</a>, ha organizzato a Cividale del Friuli il convegno <em>Il LOGOS in FRIULI VENEZIA GIULIA – Figure del pensiero filosofico friulano giuliano</em>, di cui ha curato anche la pubblicazione degli atti.</p>
    <p>Già docente, dal 1995 al 2006, di <em>Filosofia, Psicologia, Sociologia e Scienze dell’educazione</em> presso i Licei Socio – Psico - Pedagogico e Linguistico di S. Pietro al Natisone annessi al Convitto Nazionale “PAOLO DIACONO” di Cividale del Friuli, è stato incaricato, dal 1997 al 2009, di <em>Antropologia filosofica, Metafisica e Filosofia della conoscenza</em> presso l’Istituto Superiore di Scienze Religiose di Udine.</p>
    <p>Dal 1988 è Direttore  Responsabile delle attività Artistiche e Culturali della <em>Accademia Musicale-Culturale "HARMONIA"</em> di Cividale del Friuli di cui dirige stabilmente la sezione corale con la quale ha partecipato alle edizioni 2000, 2003 e 2007 del MITTELFEST e, in determinate occasioni, la sezione corale e orchestrale.</p>
    <p>Dal 2003 è Responsabile del <a href="publications.html">Quaderno Culturale <em>HARMONIA</em></a>.</p>
    <p>Ha pubblicato <em>Riflessioni filosofiche sulla morte</em> e <em>Il problema del peccato nella riflessione filosofica di Gabriel Marcel</em>.</p>
    <p>Conduce ricerche di carattere storico, filosofico e musicale.</p>
    <img class="photo" src="/jpg/giuseppe_schiff.jpg" alt="Giuseppe Schiff" title="Giuseppe Schiff" />
