    <p>GIUSEPPE SCHIFF, nato a Porpetto (UD) nel 1948, dal 1967 ha diretto diversi gruppi corali e orchestrali.</p>
    <p>Dal 1988 dirige il coro dell'Accademia Musicale - Culturale "HARMONIA" in cui ricopre attualmente l'incarico di Direttore Artistico e Responsabile delle attivit&agrave; culturali.</p>
    <p>Vice - Presidente dell' <a href="http://adif.interfree.it/index.html" title="Sito ufficiale dell'ADIF (link esterno)" target="_blank"><acronym title="Associazione Docenti Italiani di Filosofia">A.D.I.F.</acronym></a> (Associazione Docenti Italiani di Filosofia) per la quale organizza biennalmente a livello Nazionale i Convegni; &egrave; anche Vice - Direttore della Rivista "<i>Per la Filosofia - Filosofia e insegnamento</i>".</p>
    <p>Docente di Filosofia, Psicologia e Scienze dell'educazione presso i Licei Socio - Psico - Pedagogico e Linguistico di S. Pietro al Natisone annessi al Convitto Nazionale "Paolo Diacono".</p>
    <p>Incaricato di Antropologia filosofica e Filosofia della conoscenza presso l'Istituto Superiore di Scienze Religiose di Udine.</p>
    <p>Conduce ricerche di carattere storico, filosofico e musicale.</p>
    <img class="photo" src="/jpg/giuseppe_schiff.jpg" alt="Giuseppe Schiff" title="Giuseppe Schiff" />
