    <p>L'Accademia Musicale - Culturale "HARMONIA" &egrave; stata fondata il 23 gennaio 1988, anche se gi&agrave; operava, senza un suo statuto, dal 1985.</p>
    <p>Fin dall'inizio della sua attivit&agrave; artistico - musicale si &egrave; dedicata, per esplicita scelta statutaria, alla riscoperta e alla valorizzazione del patrimonio musicale sia regionale che nazionale e internazionale, spaziando dal gregoriano e dalle prime forme polifoniche fino al confronto interpretativo con i maggiori musicisti del XX secolo.</p>
    <p>E' uno dei pochi cori che esegue musiche antiche e moderne della liturgia bizantino - greca e bizantino - slava.</p>
    <p>Accanto all'intensa attivit&agrave; di scoperta, interpretazione e valorizzazione del patrimonio musicale degli archivi del Capitolo di Cividale e delle Parrocchie limitrofe, il sodalizio conduce una intensa attivit&agrave; culturale: organizza mostre di pittura, conferenze ed incontri con poeti, storici, romanzieri e filosofi di fama internazionale.</p>
    <p>Ha organizzato, assieme all'<a href="http://adif.interfree.it/index.html" title="Sito ufficiale dell'ADIF (link esterno)" target="_blank"><acronym title="Associazione Docenti Italiani di Filosofia">A.D.I.F.</acronym></a>, i convegni su: "<i>Cultura e Filosofia nell'Europa di domani</i>" (Cividale 1992) e su "<i>Filosofia &amp; Arte</i>" (Cividale 2003) e "<i>Verit&agrave; del corpo</i>" (Cividale 2007).</p>
    <p>Nel 1992 ha pubblicato i seguenti studi monografici:<br />
     <ol>
      <li>IVANO CAVALLINI - BATTISTA MONDIN: <i>Musica r filosofia nei secoli VI-VIII</i></li>
      <li>BENEDETTO VETERE: <i>Il ruolo della donna nella tradizione e nella legislazione longobarda</i></li>
     </ol>
    </p>
    <p>Pubblica annualmente, dal 2003, il quaderno <em>"HARMONIA"</em>.</p>
    <p>Il <a href="choir.html" accesskey="c" title="(Alt + c)"><span class="shortcut">c</span>oro</a> ha tenuto concerti, con e senza accompagnamento d'orchestra, in Italia, Germania, Austria, Slovenia e, nell'ambito del <a href="http://www.mittelfest.org/" title="Sito ufficiale del Mittelfest (link esterno)" target="_blank">Mittelfest</a> 2000, in Croazia; il 27 luglio 2003 ha eseguito la Messa ufficiale a conclusione del Mittelfest; nell'edizione del Mittelfest 2007 ha preso parte alla realizzazione scenico-musicale dell'opera di B. Briten <em>"Il piccolo spazzacamino"</em>.<br />
    Il 25 ottobre 2003 ha partecipato al concorso "<i>COROVIVO</i>" a Trieste organizzato dall'<acronym title="Unione Societ&agrave; Corali Italiane">U.S.C.I.</acronym> - <a href="http://www.uscifvg.it/" title="Sito dell'USCF (link esterno)" target="_blank"><acronym title="Unione Societ&agrave; Corali Friulane">U.S.C.F.</acronym></a><br />
    Ha allestito il progetto "<i>HARMONIA IN NATIVITATE DOMINI</i>" per il Natale 2003 e 2005.</p>
    <p>L'8 ottobre 2005 ha tenuto un concerto nella Cattedrale di Pescara, in occasione delle solenni celebrazioni in onore di San Cetteo, patrono della citt&agrave;.</p>

    <p>Ha al suo attivo numerose <a href="publications.html" accesskey="p" title="(Alt + p)"><span class="shortcut">p</span>ubblicazioni</a> di carattere storico e filosofico. Pubblica annualmente il quaderno "HARMONIA".</p>
    <p>Attuale Presidente dell'Accademia Musicale - Culturale "HARMONIA" &egrave; la M.a <a href="contacts.html#gasparutti">Paola Gasparutti</a> che ricopre anche l'incarico di Segretaria Nazionale dell'<a href="http://adif.interfree.it/index.html" title="Sito ufficiale dell'ADIF (link esterno)" target="_blank">Associazione Docenti Italiani di Filosifa (A.D.I.F.)</a>.</p>
    <p>Direttore artistico, direttore del coro e responsabile delle attivit&agrave; culturali &egrave; il prof. <a href="giuseppe_schiff.html" accesskey="s" title="(Alt + s)">Giuseppe <span class="shortcut">S</span>chiff</a>.</p>
