    <p>L'Accademia Musicale - Culturale "HARMONIA" &egrave; stata fondata nel 1988.</p>
    <p>Fin dall'inizio della sua attivit&agrave; artistico - musicale si &egrave; dedicata, per sua esplicita scelta statutaria, alla riscoperta e alla valorizzazione del patrimonio musicale sia regionale che nazionale e internazionale, spaziando dal gregoriano e dalle prime forme polifoniche fino al confronto interpretativo con i maggiori musicisti del XX secolo.</p>
    <p>E' uno dei pochi cori che esegue musiche antiche e moderne della liturgia bizantino - greca e bizantino - slava.</p>
    <p>Il <a href="choir.html" accesskey="c" title="(Alt + c)"><span class="shortcut">c</span>oro</a> ha tenuto concerti in Germania, Austria, Slovenia e, nell'ambito del <a href="http://www.mittelfest.org/" title="Sito ufficiale del Mittelfest (link esterno)" target="_blank">Mittelfest</a> 2000, anche in Croazia e a Roma.<br />
    Il 27 luglio 2003 ha eseguito la Messa ufficiale del Mittelfest nel Duomo di Cividale del Friuli.<br />
    Il 25 ottobre 2003 ha partecipato al concorso "<i>COROVIVO</i>" a Trieste organizzato dall'<acronym title="Unione Societ&agrave; Corali Italiane">U.S.C.I.</acronym> - <a href="http://www.uscifvg.it/" title="Sito dell'USCF (link esterno)" target="_blank"><acronym title="Unione Societ&agrave; Corali Friulane">U.S.C.F.</acronym></a><br />
    Ha allestito il progetto "<i>HARMONIA IN NATIVITATE DOMINI</i>" per il Natale 2003.</p>
    <p>Accanto all'intensa attivit&agrave; di scoperta, interpretazione e valorizzazione del patrimonio musicale degli archivi del Capitolo di Cividale e delle Parrocchie limitrofe, il sodalizio conduce una intensa attivit&agrave; culturale: organizza mostre di pittura, conferenze ed incontri con poeti, storici, romanzieri e filosofi di fama internazionale.</p>
    <p>Ha organizzato, assieme all'<a href="http://adif.interfree.it/index.html" title="Sito ufficiale dell'ADIF (link esterno)" target="_blank"><acronym title="Associazione Docenti Italiani di Filosofia">A.D.I.F.</acronym></a>, due importantissimi convegni su: "<i>Cultura e Filosofia nell'Europa di domani</i>" (Cividale 1992) e su "<i>Filosofia &amp; Arte</i>" (Cividale 2003).</p>
    <p>Ha al suo attivo numerose <a href="publications.html" accesskey="p" title="(Alt + p)"><span class="shortcut">p</span>ubblicazioni</a> di carattere storico e filosofico. Pubblica annualmente il quaderno "HARMONIA".</p>
    <p>Presidente dell'Accademia Musicale - Culturale "HARMONIA" &egrave; la M.a <a href="contacts.html#gasparutti">Paola Gasparutti</a>.</p>
    <p>Direttore artistico, direttore del coro e responsabile delle attivit&agrave; culturali &egrave; il prof. <a href="giuseppe_schiff.html" accesskey="s" title="(Alt + s)">Giuseppe <span class="shortcut">S</span>chiff</a>.</p>
