    <p>Fonti per l'elaborazione del logo: si fa riferimento alla lettera &quot;<b>a</b>&quot; dell'alfabeto <b>Tamil</b> (Tamil Nadu [Stato di Tamil] capitale Madras, Unione Indiana), appartenente alle lingue dravidiche e usato da comunit&agrave; ed emigrati (50 milioni di persone) nei quattro angoli della terra: dall'India alla Francia al Sud Africa.</p>
    <p>Alfabeto e letteratura Tamil sono molto antichi.</p>
    <p>Il richiamo &egrave; dovuto a diversi motivi: all'arcaicit&agrave; dell'alfabeto; alla forma della lettera &quot;<b>a</b>&quot; che somiglia alla nostra lettera &quot;<b>h</b>&quot; e che consente un gioco visivo ed interpretativo con la notazione musicale; alla diffusione globale dell'alfabeto Tamil, pur partendo da una collocazione geografica cos&igrave; remota e da una radice culturale cos&igrave; differente da quella occidentale.<br />
    <p>Le linee curve della parte sinistra ricordano la <b>chiave di violino</b>, il cui segno &egrave; una trasformazione della notazione medievale (lettera <b>G</b>) che indica la nota <b>sol</b>.</p>
    <p>I due punti, abbinati alle linee curve della parte sinistra, ricordano la <b>chiave di basso</b> (immaginiamo che i due punti siano posti sulla quarta linea del pentagramma su cui si annota il <b>fa</b>).</p>
    <p style="text-align:right"><i>Michele Drascek</i></p>
