    <p>E- possibile iscriversi alla nostra mailing list utilizzando la form sottostante.</p>

    <form>
     <label for="email">Indirizzo e-mail:</label><br />
     <input type="text" name="email" value="nome@dominio.it" onfocus="this.value=''" /><br /><br />
     <input type="checkbox" name="remove" /> <label for="remove">rimuovi</label><br /><br />
     <input type="button" value="send" onclick="alert('aggiunto/rimosso indirizzo ' + this.form.email.value)" />
    </form>
