    <div id="news">
      <h4>Ottobre 2014</h4>
      <strong>Avvio di corsi di educazione musicale e corale per bambini</strong><br /><br />
  
      <em>
        “La musica è una delle più ricche, complete e profonde espressioni artistiche dell’uomo e tutto ciò che la costituisce e la nutre proviene dall’uomo stesso.<br />
        Portatrice dei più profondi valori umani, la musica è vicina ad ognuno di noi più di quanto si pensi e potersene appropriare, studiandola e praticandola, arricchisce il corpo, la mente e l’anima.”
      </em>
  
      <p>Presso l’Associazione Musicale-Culturale “HARMONIA” di Cividale del Friuli, dal mese di ottobre 2014 verranno attivati corsi di educazione musicale e corale per tutti i bambini dai 3 agli 11 anni.</p>
      <p>Le lezioni di educazione musicale, a cadenza settimanale, saranno differenziate in base all’età dei bambini iscritti secondo le modalità riportate nella pagina dedicata ai <a href="courses.html">corsi</a>.</p>
      <p>Le lezioni saranno tenute dalla M.a <a href="arianna_paiani.html">Arianna Paiani</a>.</p>

      <ul>
        <li><strong>Incontro informativo</strong> con le famiglie: <strong>SABATO 20 SETTEMBRE 2014 ore 16.00</strong> presso “La casa delle associazioni” Via Carraria 101 – Cividale del Friuli (ex uffici INPS)</li>
        <li><strong>Lezione di prova gratuita</strong> secondo gli orari previsti (vedi la pagina dei <a href="courses.html">corsi</a>): <strong>VENERDI’ 26 SETTEMBRE 2014</strong></li>
      </ul>

      <p><strong>Corso: Educazione musicale</strong></p>
      <p>Il corso di educazione musicale, rivolto a tutti i bambini dai 3 anni in su, coinvolge ciascun bambino in attività che lo vedono protagonista attivo del proprio apprendimento.<br />
      Ogni proposta dell’insegnante è finalizzata ad educare gli istinti e le memorie musicali che ogni piccolo alunno possiede fin dalla nascita: quella ritmico-motoria e quella melodico-sonora.<br />
      L’educazione musicale ha come importante obiettivo quello di coinvolgere il bambino da un punto di vista dinamico, sensoriale, affettivo, cognitivo e spirituale favorendo lo sviluppo di tutte le sue facoltà e la maturazione della personalità e della dimensione sociale.<br />
      La tipologia di lezione e gli obiettivi a cui essa tende si adattano all’età dei bambini coinvolti così come il materiale sonoro utilizzato, le canzoni scelte, gli esercizi vocali e ritmici proposti.</p>

      <p>Tipologia di attività proposte:</p>
      <ul>
        <li>Sviluppo uditivo e vocale: esercizi di ascolto, riproduzione, discriminazione classificazione sonora; ripetizione, imitazione ed invenzione melodica; attività verso la scrittura musicale</li>
        <li>Sviluppo ritmico: ascolto, imitazione, invenzione ritmica; ritmi e movimenti del corpo;  esercizi e giochi indirizzati verso la scrittura ritmica</li>
        <li>Voce e canzoni: canzoni di differente utilizzo, estensione e tonalità, sempre adatte all’età del bambino</li>
      </ul>

      <p><strong>Corso: Attività corale</strong></p>
      <p>Cantare è uno dei primi e più semplici modi per comunicare attraverso il linguaggio musicale.<br />
      Gran parte dei bambini ama usare la propria voce per cantare e giocare ad inventare, imitare e ricordare qualsiasi tipo di melodia.<br />
      Ciò che viene proposto al bambino fin dalle prime lezioni di educazione corale è un vasto repertorio di canzoni di diversi caratteri ed utilizzi. Il loro impiego è utilissimo al fine di risvegliare spontaneamente il gusto ed il piacere per il canto oltre che a sviluppare adeguatamente la voce e l’intonazione.<br />
      Mediante la memorizzazione e la ripetizione delle canzoni, l’allievo viene avvicinato allo studio dei nomi delle note, della scala musicale, degli ordinamenti, dei gradi e degli intervalli.<br />
      Oltre a ciò, nel canto il bambino applica e sfrutta la propria energia vitale per scandire il ritmo della melodia e del testo.<br />
      Nell’educazione musicale dei più piccoli il canto ha un ruolo di primissimo ordine poiché:<br />
      <ul>
        <li>Favorisce il miglioramento dell’orecchio musicale e dell’ascolto interiore</li>
        <li>Sviluppa la memoria inserendone elementi sonori</li>
        <li>Favorisce una migliore padronanza ritmica e melodica</li>
        <li>Favorisce un ottimo aiuto ad un’eventuale pratica strumentale</li>
        <li>Stimola la sensibilità emotiva del bambino</li>
        <li>Sviluppa il senso del fraseggio mediante la corretta scansione del testo</li>
        <li>Sviluppa un’importante dimensione sociale nell’ottica della collaborazione e della cooperazione per raggiungere fini comuni</li>
      </ul>
      Attraverso le canzoni e le melodie il bambino riunisce in un tutt’uno tutti gli elementi musicali che, sviluppati dalle sue facoltà innate, sono alla base della cultura musicale.</p>
    </div>
