    <p>Elenco cariche sociali per il 2016 - 2017 - 2018:</p>
    <ul>
     <li>
      Presidente<br />
      M.a <strong>Paola Gasparutti</strong><br />
      via del L&ocirc;f, 23 - 33043 Cividale del Friuli (Udine) 
     </li>
     <li>
      Consigliere Vicepresidente<br />
      Sig.ra <strong>Anita Sforzini</strong><br />
      via Boscutti, 13 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Direttore artistico, responsabile attivit&agrave; culturali, responsabile organizzazione eventi culturali<br />
      Prof. <strong>Giuseppe Schiff</strong><br />
      via Rubignacco, 18/3 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Responsabile amministrativo<br />
      Rag. <strong>Giuseppe Russo</strong><br />
      via Adige, 21 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere<br />
      M.a <strong>Emma Battaino</strong><br />
      via Rualis - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere<br />
      M.a <strong>Giuseppina Rieppi</strong><br />
      via Mulinus, 1 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere<br />
      M.a <strong>Lorenza Cantarutti</strong><br />
      via della Croce, 11/12 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere<br />
      Sig.ra <strong>Franca Conchione</strong><br />
      via Adige, 19 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere<br />
      Sig.ra <strong>Paola Felicita</strong><br />
      via Rualis, 119 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere<br />
      Sig. <strong>Marco Spigarollo</strong><br />
      via Matteotti, 22 - 33040 Corno di Rosazzo (Udine)
     </li>
     <li>
      Consigliere<br />
      Sig.ra <strong>Dolores Sittaro</strong><br />
      via G. Pascoli, 2 - 33043 Cividale del Friuli (Udine)
     </li>
    </ul>
