    <p>SILVIA TOMAT, si è diplomata in Organo e Composizione Organistica presso il Conservatorio statale "J. TOMADINI" di Udine sotto la guida della prof.ssa Fontebasso.</p>
    <p>In seguito ha partecipato ai corsi di perfezionamento con professori di rinomanza internazionale quali L.F. Tagliavini, L. Rogg, Winsemius, Raas Oberdorfer, Radulescu, Corti, Ghielmi.</p>
    <p>Interessata alla prassi esecutiva della musica antica, ha studiato clavicembalo con il prof. Gregoletto.</p>
    <p>Finalista in numerosi concorsi organistici nazionali ed internazionali, ha vinto il 2° premio al concorso organistico nazionale di Perteole, 3° premio (1° non assegnato) al concorso internazionale 'Organi storici del basso Friuli' di Muzzana del Turgnano, 3° premio al concorso 'San Guido d'Aquesana'.</p>
    <p>Ha registrato un CD con musiche di D.Buxteude e J.S. Bach (Rainbow classics).</p>
    <p>Svolge attività concertistica sia come solista che che con gruppi vocali-strumentali in Italia, Austria, Germania, Svizzera, Croazia, Slovenia, Olanda, Belgio.</p>
    <p>Ha partecipato al Mittelfest nel 2006 con un concerto d'organo.</p>
    <p>Oltre all'insegnamento del pianoforte, svolge attività didattico-educativa presso il Convitto Nazionale "P. Diacono" di Cividale.</p>
    <p>Collabora con l'Accademia Musicale Culturale "HARMONIA".</p>
    <img class="photo" src="/jpg/silvia_tomat.jpg" alt="Silvia Tomat" title="Silvia Tomat" width="400" />
