    <p>BEPPINO DELLE VEDOVE was born in Udine in 1964. He studied music at the Music School in Udine, getting a certificate for organ and harpsichord.</p>
    <p>A lot of further training courses in Italy, Germany and Switzerland took him in touch with the greatest figures of the world of the organ and the harpsichord (L.F. Tagliavini, S. Innocenti, E. Ladini, M. Radulescu, H. Vogel, M. Chapius, A. Isoir, J.L.G. Uriol), with the art of organ with Oscar Mischiati and improvisation with Liuwe Tamminga.</p>
    <p>Teacher at the Music School of Piacenza, Cagliari and Palermo, since 1998 he has been full professor of Organ and Organ Composition at the Music School "J. TOMADINI" in Udine.</p>
    <p>He performs in Italy and abroad (Europe, Canada and U.S.A.) with critic and audience success.</p>
    <p>He played at the opening performance of new organs and for the restoration of old ones.</p>
    <p>He was a member of the jury at organ national contests.</p>
    <p>He was recorded by the <a href="http://www.rai.it/" title="Official RAI website (external link)" target="_blank"><acronym title="Italian Radio Television">R.A.I.</acronym></a> and by other private regional radio transmitters; he recorded a number of CD's with organs of Friuli and Sicily.</p>
    <img class="photo" src="/jpg/beppino_delle_vedove.jpg" alt="Beppino delle Vedove" title="Beppino delle Vedove" />
