    <script src="/js/graphics.js" type="text/javascript"></script>

    <p>The main feature that gives honour to the choir is the youth of its members (about forty-five), who use some of their spare time to the study of music which requires receptivity, interpretative carefulness, accuracy and convergence on a common artistic aim, own sacrifice and refusal of the banal amusement the current society offers them.</p>
    <p>The choir accompanied the solemn Holy Mass of midnight at the <a href="http://www.abbaziadirosazzo.it/" title="Website devoted to the Rosazzo Abbey (external link)" target="_blank">Rosazzo Abbey</a> and it was asked to perform its peculiar <a href="repertory.html" title="(Alt + r)"><span class="shortcut">r</span>epertory</a> in St. Francis Church and in the Cathedral of Cividale, on the occasion of the introductions of the artistic calendars the <a href="http://www.civibank.it/" title="Officiale Bank of Cividale website (external link)" target="_blank">Bank of Cividale</a> publishes yearly since many years. They collect pictures of the artistic heritage and paintings of a number of local churches, creating a fitting fusion between medieval songs and images, leading the audience back to the past.</p>
    <p>The choir, along with the <a href="http://www.cividale.net/" title="Official Civic Administration of Cividale website (external link)" target="_blank">Civic Administration of Cividale</a>, collaborated with the organization of the concerts of "<i>No Borders Music</i>".</p>
    <p>In the 2000 <a href="http://www.mittelfest.org/" title="Official Mittelfest website (external link)" target="_blank">Mittelfest</a> edition the choir took part, as a choir as well as a theatre appearance, to the opening show: "<i>The Cheese and the Worms</i>", taken from Carlo Ginsburg's test under Giorgio Pressburger's direction, a performance which was repeated regionally in Rome (ancient Ostia) and in Split (Croatia).</p>
    <a href="/jpg/choir.jpg" onclick="graphics_showPhoto('choir','jpg',640,480,0,'The choir in Pescara'); return false"><img class="photo" src="/jpg/choir.jpg" width="400" height="320" alt="The choir in Pescara" title="The choir in Pescara (click to zoom)" /></a>
