    <div id="contacts">
     <p>In this page you can find the addresses to contact the Musical - Cultural Academy "HARMONIA" and ask for further information.</p>
 
     <ul>
      <li class="vcard" id="hcard-accademia-musicale-culturale-harmonia">
       <b class="fn org">Musical - Cultural Academy "HARMONIA"</b><br />
       <span class="adr"><span class="street-address">via Rubignacco, 18/3</span><br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 733796</span><br />
       <span class="tel"><span class="type">fax</span>: <span class="value">+39 0432 733796</span></span><br />
       <span class="tel"><span class="type">cell</span>: <span class="value">+39 333 5852512</span></span><br />
       e-mail: <a class="email" href="mailto:&#97;&#99;&#99;&#97;&#100;&#101;&#109;&#105;&#97;&#104;&#97;&#114;&#109;&#111;&#110;&#105;&#97;&#64;&#105;&#110;&#116;&#101;&#114;&#102;&#114;&#101;&#101;&#46;&#105;&#116;">&#97;&#99;&#99;&#97;&#100;&#101;&#109;&#105;&#97;&#104;&#97;&#114;&#109;&#111;&#110;&#105;&#97;&#64;&#105;&#110;&#116;&#101;&#114;&#102;&#114;&#101;&#101;&#46;&#105;&#116;</a>
      </li>
      <li class="vcard" id="hcard-Paola-Gasparutti">
       <a name="gasparutti"></a>
       <b class="fn n"><span class="given-name">Paola</span> <span class="family-name">Gasparutti</span></b> (president)<br />
       <span class="adr"><span class="street-address">via del L&ocirc;f, 23</span><br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 730925</span><br />
       <span class="tel"><span class="type">cell</span>: <span class="value">+39 347 3931338</span></span><br />
       e-mail: <a class="email" href="mailto:&#112;&#97;&#111;&#108;&#97;&#103;&#97;&#115;&#112;&#97;&#114;&#117;&#116;&#116;&#105;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;">&#112;&#97;&#111;&#108;&#97;&#103;&#97;&#115;&#112;&#97;&#114;&#117;&#116;&#116;&#105;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;</a>
      </li>
      <li class="vcard" id="hcard-Giuseppe-Schiff">
       <b class="fn n"><span class="given-name">Giuseppe</span> <span class="family-name">Schiff</span></b> (artistic manager)<br />
       <span class="adr"><span class="street-address">via Rubignacco, 18/3</span> - c.p. 68<br />
       <span class="postal-code">33043</span> <span class="locality">Cividale del Friuli</span> (<span class="region">UD</span>)</span><br />
       tel: <span class="tel">+39 0432 733796</span><br />
       <span class="tel"><span class="type">fax</span>: <span class="value">+39 0432 733796</span></span><br />
       <span class="type">cell</span>: <span class="value">+39 333 4990906</span></span><br />
       e-mail: <a class="email" href="mailto:&#105;&#109;&#109;&#97;&#110;&#117;&#101;&#108;&#107;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;">&#105;&#109;&#109;&#97;&#110;&#117;&#101;&#108;&#107;&#64;&#108;&#105;&#98;&#101;&#114;&#111;&#46;&#105;&#116;</a>
      </li>
     </ul>

     <p>We have also created a group on <a href="http://www.facebook.com/" title="Facebook (external link)">Facebook</a>. You can visit it at the following address:</p>
     <p><a href="http://www.facebook.com/group.php?gid=30443711685" title="HARMONIA on Facebook (external link)">http://www.facebook.com/group.php?gid=30443711685</a></p>
    </div>
