    <div id="contacts">
     <p>In this page you can find the addresses to contact the Musical - Cultural Academy "HARMONIA" and ask for further information.</p>
 
     <ul>
      <li>
       <span><b>Musical - Cultural Academy "HARMONIA"</b></span><br />
       via Rubignacco, 18/3<br />
       33043 Cividale del Friuli (UD)<br />
       Tel.: +39 0432 733796 / 733062<br />
       Fax.: +39 0432 733626 / 740092<br />
       e-mail: <a href="mailto:accademiaharmonia&#64;interfree&#46;it">accademiaharmonia&#64;interfree&#46;it</a>
      </li>
      <li>
       <a name="gasparutti"></a>
       <span><b>Paola Gasparutti</b></span> (president)<br />
       e-mail: <a href="mailto:paolagas2000&#64;libero&#46;it">paolagas2000&#64;libero&#46;it</a>
      </li>
      <li>
       <span><b>Giuseppe Schiff</b></span> (artistic manager)<br />
       e-mail: <a href="mailto:immanuelk&#64;libero&#46;it">immanuelk&#64;libero&#46;it</a>
      </li>
     </ul>

     <p>We have also created a group on <a href="http://www.facebook.com/" title="Facebook (external link)">Facebook</a>. You can visit it at the following address:</p>
     <p><a href="http://www.facebook.com/group.php?gid=30443711685" title="HARMONIA on Facebook (external link)">http://www.facebook.com/group.php?gid=30443711685</a></p>
    </div>
