    <div id="courses">
    <p>Dal mese di ottobre 2014, presso l'Associazione, verranno attivati corsi di educazione musicale e corale per tutti i bambini dai 3 agli 11 anni.</p>
    <p>Le lezioni di educazione musicale, a cadenza settimanale, saranno differenziate in base all’età dei bambini iscritti secondo le modalità riportate qui sotto.</p>
    <p>Le lezioni saranno tenute dalla M.a <a href="arianna_paiani.html">Arianna Paiani</a>.</p>

    <h4>Attività corale</h4>
    <em>Durata lezione settimanale:</em> 1 ora<br />
    <em>Giornate e orario:</em> MERCOLEDI' dalle 17.30 alle 18.30<br />
    <em>Attività proposte:</em><br />
    <p>
      <strong>CHE GIOIA CANTARE</strong><br />
      Impostazione individuale della voce, esercizi di preparazione vocale, consapevolezza ed intonazione nel canto.<br />
      Cantando in un coro il bambino impara a vivere in una dimensione sociale, sviluppa la propria identità ed esprime artisticamente la cultura musicale.
    </p>

    <h4>Corso BABY 3, 4 e 5 anni (scuola dell'infanzia)</h4>
    <em>Durata lezione settimanale:</em> 1 ora<br />
    <em>Giornate e orario:</em> VENERDI' dalle 15.00 alle 16.00<br />
    <em>Attività proposte:</em>
     <p>
      <strong>RISVEGLIO MUSICALE E CREATIVO</strong><br />
      Giochi ed attività per lo sviluppo uditivo, ritmico, vocale e motorio.<br />
      Impiego di piccoli strumenti e materiali sonori per risvegliare la musicalità del bambino.<br />
      Sviluppo della creatività musicale di ognuno e dell’intonazione canora.
    </p>

    <h4>Corso MEDI 6 e 7 anni (prima e seconda scuola primaria)</h4>
    <em>Durata lezione settimanale:</em> 1 ora<br />
    <em>Giornate e orario:</em> VENERDI' dalle 16.15 alle 17.15<br />
    <em>Attività proposte:</em>
     <p>
      <strong>PRIME NOTE</strong><br />
      Attività di stimolazione uditiva, ritmica, vocale e motoria progressivamente guidate verso elementi concreti dell’universo musicale.<br />
      Miglioramento dell’intonazione, pre-solfeggio e inizi della pratica corale di gruppo.<br />
      Primi ascolti della grande musica.
    </p>

    <h4>Corso GRANDI 8, 9 e 10 anni (terza, quarta e quinta scuola primaria)</h4>
    <em>Durata lezione settimanale:</em> 1 ora e 30 minuti<br />
    <em>Giornate e orario:</em> VENERDI' dalle 17.30 alle 19.00<br />
    <em>Attività proposte:</em>
     <p>
      <strong>LE BASI DEL SOLFEGGIO ATTIVO</strong><br />
      Lezioni ed attività concrete di pre-solfeggio organizzate e condotte in maniera attiva e motivante.<br />
      Attività vocali, ritmiche, uditive e corali che stimolino la musicalità e l’inventiva del bambino portandolo ad una padronanza concreta degli elementi musicali di base.<br />
      Verso il pentagramma e la scrittura/lettura musicale.<br />
      Ascolto della grande musica.
    </p>
    </div>
