    <div id="events">
     <p>What follows are the musical and cultural scheduled events of the Musical - Cultural Academy &quot;HARMONIA&quot;.</p>
     
      <h4>No scheduled events</h4>
      <p>To be up to date with the activities of the Musical - Cultural Academy &quot;HARMONIA&quot;, <a href="/rss/en/harmonia.rss">subscribe to the <acronym title="Really Simple Syndication">RSS</acronym> feed</a>!</p>
    </div>
