    <div id="events">
     <p>What follows are the musical and cultural scheduled events of the Musical - Cultural Academy &quot;HARMONIA&quot;.</p>

     <p>To be up to date with the activities of the Musical - Cultural Academy &quot;HARMONIA&quot;, <a href="http://www.google.com/calendar/feeds/accademiaharmonia%40gmail.com/public/basic">subscribe to the feed</a>!</p>

     <!-- Google Calendar -->
     <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;hl=en&amp;bgcolor=%23f5f5f5&amp;src=info%40accademiaharmonia.org&amp;color=%232952A3&amp;ctz=Europe%2FRome" style="border-width:0" width="410" height="500" frameborder="0" scrolling="no"></iframe>
    </div>
