    <p>GIUSEPPE SCHIFF was born in Porpetto (UD) in 1948, and since 1967 he has lead a number of choirs and orchestras.</p>
    <p>Since 1988 he has conducted the choir of the Cultural - Musical Academy "HARMONIA", of which he is the artistic manager and the chief of the cultural activities too.</p>
    <p>From 1983 to 2015 he was a member of <a href="http://adif-italia.org/" title="Official ADIF website (external link)" target="_blank"><acronym title="Association of Italian Philosophy Teachers">A.D.I.F.</acronym></a> (Association of Italian Philosophy Teachers) of which he was national vice-president from 2000 to 2012 and president from 2012 to 2015 and for which from 1992 to 2015 he organized the biennial national conference.</p>
    <p>From 2000 to 2012 he was Vice - Director and from 2012 to 2015 Director of the publication "<i>For the Philosophy - Philosophy and Teaching</i>".</p>
    <p>He is a Philosophy, Psychology and Science of Education teacher at the Social - Psychological - Pedagogical and Linguistic High Schools of San Pietro al Natisone linked to the National Boarding School "Paolo Diacono".</p>
    <p>He is in charge of Philosophical Anthropology and Philosophy of Knowledge at the High Institute of Religious Science of Udine.</p>
    <p>He leads historical, philosophical and musical researches.</p>
    <img class="photo" src="/jpg/giuseppe_schiff.jpg" width="400" alt="Giuseppe Schiff" title="Giuseppe Schiff" />
