    <p>The Musical - Cultural Academy "HARMONIA" was set up in 1988.</p>
    <p>From the very beginning of its artistic and cultural activity, the Academy dealt with the rediscovery and revaluation - according with its explicit choice of statute - of both regional and national musical heritage, ranging from the Gregorian melody and the early polyphonic forms to an interpretative comparison to the major XX Century musicians.</p>
    <p>It is one of the few choirs performing ancient and modern music from the Byzantine - Greek and Byzantine - Slav liturgy.</p>
    <p>The <a href="choir.html" accesskey="c" title="(Alt + c)"><span class="shortcut">c</span>hoir</a> performed in Germany, Austria, Slovenia and, within the <a href="http://www.mittelfest.org/" title="Official Mittelfest website (external link)" target="_blank">Mittelfest</a> 2000, in Croatia and in Rome too.<br />
    On the 27th of July 2003 the choir performed at the official Mass in the Cathedral of Cividale del Friuli.<br />
    On the 25th of October 2003 it took part in the "<i>COROVIVO"</i> contest in Trieste, organized by <acronym title="Union of Italian Choir Societies">U.S.C.I.</acronym> - <a href="http://www.uscifvg.it/" title="Official USCF website (external link)" target="_blank"><acronym title="Union of Friulian Choir Societies">U.S.C.F.</acronym></a><br />
    It staged the "<i>HARMONIA IN NATIVITATE DOMINI"</i> for Christmas 2003.</p>
    <p>Beside the intense activity of discovery, interpretation and evaluation of the musical heritage of the archives of the Chapter of Cividale and the surrounding parishes, the association leads an intense cultural activity: it organizes exhibitions of paintings, conferences and meetings with worldwide known poets, historians, novelists and philosophers.</p>
    <p>The Academy organized, along with <a href="http://adif.interfree.it/index.html" title="Official ADIF website (external link)" target="_blank"><acronym title="Association of Italian Philosophy Teachers">A.D.I.F.</acronym></a>, two important meetings about "<i>Culture and Philosophy in Tomorrow's Europe</i>" (Cividale 1992) and about "<i>Philosophy and Art</i>" (Cividale 2003).</p>
    <p>It has on its credits a lot of historical and philosophical pamphlets <a href="publications.html" accesskey="p" title="(Alt + p)"><span class="shortcut">p</span>ublications</a>. It publishes the pamphlet "HARMONIA" once a year.</p>
    <p>Mistress <a href="contacts.html#gasparutti">Paola Gasparutti</a> is the President of the Musical - Cultural Academy "HARMONIA".</p>
    <p>Professor <a href="giuseppe_schiff.html" accesskey="s" title="(Alt + s)">Giuseppe <span class="shortcut">S</span>chiff</a> is the artistic manager, the music conductor and the chief of the cultural activities.</p>
    
