    <p>Sources for the elaboration of the logo: it is referred to the letter &quot;<b>a</b>&quot; from the <b>Tamil</b> alphabet (Tamil Nadu, State of Tamil, capital city Madras, Indian Union), that belongs to the Dravidic languages and is used by communities and emigrates (50 million people) everywhere on earth: from India to France and South Africa.</p>
    <p>Tamil alphabet and writing are very old.</p>
    <p>This reference comes for several reasons: the ancientness of the alphabet, the shape of the &quot;<b>a</b>&quot; letter, which seems like our &quot;<b>h</b>&quot; letter and allows a visual and interpretative game with the musical notation, the global spread of the Tamil alphabet, even starting from such a remote geographical collocation and from a cultural root that is different from the western one.</p>
    <p>The curve lines on the left recall the <b>violin clef</b>, whose mark is a transformation of the medieval notation (<b>G</b> letter) which indicates the note <b>sol</b>.</p>
    <p>The two dots, along with the curve lines on the left side, recall the <b>bass clef</b> (let's imagine that the two dots are set on the fourth line of the pentagram on which the <b>fa</b> is written).</p>

    <p style="text-align:right"><i>Michele Drascek</i></p>
