    <p>List of the officers for the year 2010:</p>
    <ul>
     <li>
      President<br />
      M.a <strong>Paola Gasparutti</strong><br />
      via del L&ocirc;f, 23 - 33043 Cividale del Friuli (Udine) 
     </li>
     <li>
      Vicepresident<br />
      M.a <strong>Emma Battaino</strong><br />
      via Rualis - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Artistic director and responsible for the cultural activities<br />
      Prof. <strong>Giuseppe Schiff</strong><br />
      via Rubignacco, 18/3 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Contact for the organization of exhibitions and artistic activities<br />
      Arch. <strong>Elisabetta Crucil</strong><br />
      via Rualis - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Administration responsible<br />
      Accountant <strong>Giuseppe Russo</strong><br />
      via Adige, 21 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Adviser<br />
      M.a <strong>Lorenza Cantarutti</strong><br />
      via della Croce, 10 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Adviser<br />
      Mrs <strong>Franca Conchione</strong><br />
      via Adige, 19 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Adviser<br />
      M.a <strong>Emma Battaino</strong><br />
      via Rualis - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Adviser<br />
      Dr. <strong>Paolo De Sabbata</strong><br />
      via San Martino, 13 - 33040 Orsaria di Premariacco (Udine)
     </li>
     <li>
      Adviser<br />
      Mrs <strong>Giuseppina Rieppi</strong><br />
      via Vecchia di Palma, 16 - 33043 Cividale del Friuli (Udine)
     </li>
    </ul>
