    <p>PAOLA GASPARUTTI, was born in Cividale del Friuli (Udine) on July 6th 1961, in 1979 she graduated at the Istituto Magistrale “Orsoline” in Cividale del Friuli and in 2004 earned a second degree at the Istituto Socio Psico Pedagogico in San Pietro al Natisone attached to the convitto Nazionale Paolo Diacono of Cividale del Friuli.</p> 
    <p>In 2003 she was elected president of the Musical - Cultural Academy “HARMONIA”, a position she still holds.</p>
    <p>From 2000 to 2015 she was a member of <acronym title="Associazione Docenti Italiani di Filosofia">A.D.I.F.</acronym> (Associazione Docenti Italiani di Filosofia) of which she was the national secretary from 2003 to 2015.</p>
    <p>As national secretary she has collaborated in the organization of the National Congress of Philosophy in 2003 (<em>Filosofia &amp; Arte</em> – Cividale del Friuli - Udine), 2005 (<em>...E dopo la vita?</em> - Montesilvano – Pescara), 2007 (<em>Verit&agrave; del corpo</em> – Cividale del Friuli - Udine), 2009 (<em>Quale Etica per la Bioetica</em> – Roma), 2011 (<em>Democrazia, Verità, Pluralismo</em> - Roma), 2013 (<em>Domande filosofiche e relazioni educative</em> - Roma), 2015 (<em>Il pensiero e la crisi. Filosofia e primo conflitto mondiale</em> - Cividale del Friuli - Udine).</p>
    <p>In 2008 she collaborated with prof. <a href="giuseppe_schiff.html">Giuseppe Schiff</a>, in the organization, in Cividale del Friuli, of the conference <em>Il LOGOS in FRIULI VENEZIA GIULIA – Figure del pensiero filosofico friulano giuliano</em>.</p>
    <img class="photo" src="/jpg/paola_gasparutti.jpg" width="400" alt="Paola Gasparutti" title="Paola Gasparutti" />
