    <p>PAOLA GASPARUTTI, was born in Cividale del Friuli (Udine) on July 6th 1961, in 1979 she graduated at the Istituto Magistrale “Orsoline” in Cividale del Friuli and in 2004 earned a second degree at the Istituto Socio Psico Pedagogico in San Pietro al Natisone attached to the convitto Nazionale Paolo Diacono of Cividale del Friuli.</p> 
    <p>In 2003 she was elected president of the Musical - Cultural Academy “HARMONIA”, a position she still holds.</p>
    <p>Since 2000 she is member of <a href="http://adif-italia.org/" title="Sito ufficiale dell'ADIF (link esterno)" target="_blank"><acronym title="Associazione Docenti Italiani di Filosofia">A.D.I.F.</acronym></a> (Associazione Docenti Italiani di Filosofia) of which she is the national secretary since September 2003.</p>
    <p>Together with the president prof. <a href="giuseppe_schiff.html">Giuseppe Schiff</a>, she has collaborated in the organization of the National Congress of Philosophy in 2003 (<em>Filosofia &amp; Arte</em> – Cividale del Friuli), 2005 (<em>...E dopo la vita?</em> - Montesilvano – Pescara), 2007 (<em>Verit&agrave; del corpo</em> – Cividale del Friuli), and 2009 (<em>Quale Etica per la Bioetica</em> – Roma).</p> 
    <p>In 2008 she collaborated with prof. <a href="giuseppe_schiff.html">Giuseppe Schiff</a>, in the organization, in Cividale del Friuli, of the conference <em>Il LOGOS in FRIULI VENEZIA GIULIA – Figure del pensiero filosofico friulano giuliano</em>.</p>
    <img class="photo" src="/jpg/paola_gasparutti.jpg" width="400" alt="Paola Gasparutti" title="Paola Gasparutti" />
