    <div id="publications">
     <p>The Musical - Cultural Academy "HARMONIA" has published the following <b>monografic studies</b>:</p>

     <h4>1992</h4>
     <ol>
      <li>IVANO CAVALLINI - BATTISTA MONDIN: <em>Music and philosophy in VI-VII centuries</em></li>
      <li>BENEDETTO VETERE: <em>The role of the woman in the longobard tradition and legislation</em></li>
     </ol>

     <p>The Academy publishes yearly the <b>pamphlet of the Musical - Cultural Academy "HARMONIA"</b>.</p>
     <p>The following are the indexes of the published ones.</p>

     <h4 id="n1-2003">N&#186; 1 - 2003</h4>
     <ul>
      <li>P. GASPARUTTI - Introduction (p. 5)</li>
      <li>M. DRASCEK - Introduction to the Logo "Harmonia" (p. 6)</li>
      <li>R. TIRELLI - Monks and Earls in patriarchal Cividale: power and devotion (p. 7)</li>
      <li>G. RODARO - Notes for a redefinition of Jacopo Stellini's biographical data  (p. 17)</li>
      <li>A. MOLINARO - Truth and beauty (p. 23)</li>
      <li>A. MAGRIS - Nietszche and the nihilism (p. 27)</li>
      <li>A. CISLAGHI - The desire of the invisible (p. 40)</li>
      <li>M. SCHIFF - Short Introduction to Carlo Michelstaedter's thought (p. 50)</li>
      <li>L. PERRICONE - Sedimentoligic observations for the pale geographical rebuilding of the palaeocene and oceanic sector in the Natisone's Vales. (p. 55)</li>
      <li>T. PERINI - The fairy landscape in Friuli (p. 95)</li>
      <li>M. FANIN - Poems (p. 100)</li>
      <li>C. MILANOPULO - Poems (p. 102)</li>
      <li>ANITA - Poems (p. 104)</li>
      <li>M. COCCO - Poems (p. 106)</li>
      <li>L. GRATTONI - Poems (p. 108)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2003 (p. 110)</li>
      <li>CORO "HARMONIA" - Repertory of the Choir (p. 115)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-1-2003.pdf">Download the pdf</a></p>

     <h4 id="n2-2004">N&#186; 2 - 2004</h4>
     <ul>
      <li>P. GASPARUTTI - Introduction (p. 5)</li>
      <li>R. TIRELLI - The patriarch Callisto and the symbolism of the water (p. 7)</li>
      <li>C. BARBERI - Il cividalese n&#186; 137: witness of a new world (p. 9)</li>
      <li>A. CISLAGHI - The late Romanticism in music (p. 23)</li>
      <li>L. RAVAIONI - Dostoevskij and the gnosis (p. 32)</li>
      <li>R. DELLA TORRE - Asquino from Varmo's Tower in Cividale of the Friuli (p. 44)</li>
      <li>R. TIRELLI - Jacopo Stellini: the confirmation of Rodaro's hypothesis (p. 56)</li>
      <li>G. RODARO - The true origin of Father Jacopo Stellini (p. 59)</li>
      <li>E. TOMAT - Non-verbal communication (p. 67)</li>
      <li>M. MARIUZZI - Do you know that... (p. 84)</li>
      <li>L. GRATTONI - Poems (p. 94)</li>
      <li>M. COCCO - Poems (p. 99)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2004 (p. 102)</li>
      <li>CORO "HARMONIA" - Repertory of the Choir (p. 105)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-2-2004.pdf">Download the pdf</a></p>

     <h4 id="n3-2005">N&#186; 3 - 2005</h4>
     <ul>
      <li>P. GASPARUTTI - Introduction (p. 5)</li>
      <li>S. COLUSSA - I &quot;traslochi&quot; di un'iscrizione: una breve storia di CIL V 1767 (p. 7)</li>
      <li>R. POZZO - Kant e le arti liberali (p. 17)</li>
      <li>P. GIORDANETTI - Tema musicale, affetto dominante, idea estetica (p. 30)</li>
      <li>B. BIANCO - Filosofia per la scuola, filosofia per il mondo (p. 42)</li>
      <li>C. BARBERI - I due mondi del cividalese 136 (p. 59)</li>
      <li>C. BRAIDOTTI - Virginia Woolf: l'atto creativo come ricerca di significato (p. 67)</li>
      <li>V. DORDOLO - S. Serafino di Sarov e la Preghiera del cuore (p. 82)</li>
      <li>M. MARIUZZI - Food is more than what you eat! E' nutrimento, piacere, legame, memoria... (p. 92)</li>
      <li>F. GERMANO - Filosofia musicale: un gioco di suoni e significati (p. 102)</li>
      <li>R. CASSINA - M. TORRISI - Soddisfazione e fiducia del cliente (p. 109)</li>
      <li>R. TIRELLI - Cividale e la nuova arte della guerra fra Venezia ed Impero (1508-1518) (p. 118)</li>
      <li>L. GRATTONI - Poesie (p. 128)</li>
      <li>M. COCCO - Poesie (p. 132)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2005 (p. 134)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the Choir (p. 136)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-3-2005.pdf">Download the pdf</a></p>

     <h4 id="n4-2006">N&#186; 4 - 2006</h4>
     <ul>
      <li>P. GASPARUTTI - Introduction (p. 5)</li>
      <li>B. BIANCO - Cattolicesimo e Massoneria in Mozart (p. 9)</li>
      <li>S. COLUSSA - Ruggero Della Torre archeologo a Cividale. Appunti per una ricerca (p. 15)</li>
      <li>C. BARBERI - Antiche suggestioni nel programma di Egberto di Treviri (p. 38)</li>
      <li>R. TIRELLI - San Quirino in Friuli al crocevia fra Romans, Sclavons e Theutonics (p. 52)</li>
      <li>S. DE COLLE - La salvaguardia dell'immenso tesoro librario del Patriarcato di Aquileia (p. 61)</li>
      <li>C. ALETTI - Il tempo delle mistificazioni (p. 69)</li>
      <li>F. GERMANO - L'universo personale nel pensiero di Pierre Teilhard de Chardin (p. 73)</li>
      <li>V. DORDOLO - Le icone russe: immagine e contemplazione (p. 81)</li>
      <li>G. CHIMIRRI - La fotografia come forma d'arte (p. 91)</li>
      <li>M. MARIUZZI - Carnevale o Quaresima? Il disturbo maniaco-depressivo, o bipolare (DB) (p. 100)</li>
      <li>S. ZAMARO - La Villotta Friulana (p. 109)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2006 (p. 126)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the Choir (p. 128)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-4-2006.pdf">Download the pdf</a></p>

     <h4 id="n5-2007">N&#186; 5 - 2007</h4>
     <ul>
      <li>P. GASPARUTTI - Presentation (p. 5)</li>
      <li>R. TIRELLI - Cividale da Forum a Civitas: lo sviluppo di una citt&agrave; (p. 7)</li>
      <li>S. COLUSSA - Una iscrizione cividalese e la Causa praecedentiae tra la collegiata di Udine e il capitolo di Cividale (p. 15)</li>
      <li>C. BARBERI - Una Bibbia CROCIATA in Friuli (p. 21)</li>
      <li>D. FRANGIPANE - La famiglia Frangipane (p. 35)</li>
      <li>R. R. SCHALANSCHI - La politica di tolleranza di Giuseppe II (1780 - 1790) in Transilvania e nel Partium e le conseguenze nell'eparchia greco-ortodossa di Oradea (p. 44)</li>
      <li>L. FANZUTTI - Gli &quot;apocrifi dell'infanzia&quot;. Lineamenti per una lettura teologica (p. 74)</li>
      <li>F. GERMANO - Pamela Levin e la teoria della risperimentazione (p. 95)</li>
      <li>M. MARIUZZI - Malattia mentale grave e sessualit&agrave; (p. 107)</li>
      <li>S. ZAMARO - La Villotta Friulana (II parte) (p. 130)</li>
      <li>S. ZAMARO - Poesie (p. 160)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2007 (p. 162)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the Choir (p. 168)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-5-2007.pdf">Download the pdf</a></p>

     <h4 id="n6-2008">N&#186; 6 - 2008</h4>
     <ul>
      <li>P. GASPARUTTI - Presentation (p. 5)</li>
      <li>C. ALETTI - L'effimero (p. 7)</li>
      <li>E. GUERRA - Alla radice dell'Egoismo (p. 10)</li>
      <li>S. COLUSSA - Cividale nell'et&agrave; patriarcale (1077 - 1420) attraverso i reperti del lapidario del Museo Archeologico Nazionale (p. 18)</li>
      <li>R. TIRELLI - L'uso della spada nella liturgia tradizionale sacra e profana dell'occidente cristiano in rapporto al rito epifanico cividalese dello "spadone" (p. 34)</li>
      <li>M. MARIUZZI - (Maria e la) Necessit&agrave; del femminino nella religione (p. 47)</li>
      <li>F. SUSSI - Energia: le verit&agrave; scomode! (ci&ograve; che non &egrave; stato detto e che pochi vorrebbero sapere) (p. 61)</li>
      <li>G. SCHIFF - Poesie (p. 87)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2008 (p. 91)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the Choir (p. 95)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-6-2008.pdf">Download the pdf</a></p>

     <h4 id="n7-2009">N&#186; 7 - 2009</h4>
     <ul>
      <li>P. GASPARUTTI - Presentazione (p. 5)</li>
      <li>S. COLUSSA - Altri documenti riguardanti la causa praecedentiae tra il capitolo di Cividale e la collegiata di Udine (p. 7)</li>
      <li>R. TIRELLI - Diavoli e ponti - Tentazione e architettura del Medio Evo (p. 11)</li>
      <li>G. GENERO - Messiaen come musicista cattolico (1908 - 1992) (p. 18)</li>
      <li>M. SCHIFF - L'estetica del barocco - Appunti per un percorso tra filosofia, storia dell'arte e storia della musica (p. 22)</li>
      <li>G. CHIMIRRI - Psicologia della bellezza umana (p. 34)</li>
      <li>M. MARIUZZI - &quot;Dono&quot; di Organi? (p. 39)</li>
      <li>A. DE STEFANO - Discorso sulle cose antiche. Il bucranio di Cravero nelle Valli del Natisone (p. 49)</li>
      <li>E. BATTAINO - Raccontami una storia... mentre fuori nevica (p. 57)</li>
      <li>L. GRATTONI - Poesie (p. 68)</li>
      <li>M. COCCO - Poesie (p. 70)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2009 (p. 72)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the choir (p. 75)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-7-2009.pdf">Download the pdf</a></p>

     <h4 id="n8-2010">N&#186; 8 - 2010</h4>
     <ul>
      <li>P. GASPARUTTI - Presentazione (p. 5)</li>
      <li>S. COLUSSA - Toponomastica GIS: un incontro produttivo. Il caso del toponimo "tomba" nel comune censuario di Premariacco (p. 7)</li>
      <li>R. TIRELLI - Cividale del Friuli: da plebe rurale a urbs (p. 15)</li>
      <li>M. Bruno - D. IACUZZI - Gli stucchi della grande sacrestia di San Francesco a Cividale del Friuli (p. 26)</li>
      <li>C. BARBERI - Il palazzo degli Economo a Trieste (p. 38)</li>
      <li>M. SCHIFF - Musica e poesia di Rilke (p. 46)</li>
      <li>M. GRUSOVIN - Michelstaedter e i Demoni dell'inautentico (p. 66)</li>
      <li>G. CHIMIRRI - Moralit&agrave; e immortalit&agrave; dell'arte (p. 73)</li>
      <li>M. T. RUSSO - Diventare anziani: un destino o un compito? (p. 80)</li>
      <li>M. E. MARIUZZI - S&igrave;, lo voglio ..!..?? (p. 93)</li>
      <li>E. BATTAINO - Raccontami una storia... mentre fuori nevica (continuazione) (p. 103)</li>
      <li>A. DE STEFANO - Haiku: poesia dal silenzio (p. 109)</li>
      <li>L. GRATTONI - Poesie (p. 114)</li>
      <li>S. ZAMARO - Poesie (p. 116)</li>
      <li>J. ZAGNOLI - Poesie (p. 117)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2010 (p. 119)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the choir (p. 122)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-8-2010.pdf">Download the pdf</a></p>

     <h4 id="n9-2011">N&#186; 9 - 2011</h4>
     <ul>
      <li>P. GASPARUTTI - Presentazione (p. 5)</li>
      <li>R. TIRELLI - L'&quot;invenzione&quot; di un patrono per Cividale: San Donato (p. 7)</li>
      <li>S. COLUSSA - I <em>limites</em> delle centuriazioni e la viabilit&agrave;. Due esempi dall'agro di <em>Forum Iulii</em> (p. 18)</li>
      <li>O. SERENA - Mario Brozzi: cittadino esemplare e studioso illustre (p. 26)</li>
      <li>G. CHIMIRRI - Storia &quot;sacra&quot; o storia &quot;profana&quot;? (p. 41)</li>
      <li>M. SCHIFF - Il terzo regno. La realt&agrave;, la poesia e il sogno in Marina I. Cvetaeva (p. 46)</li>
      <li>A. MERICI - Il concerto per violoncello n. 1 in bemolle maggiore, op. 107 di Dmitrij Dmitrievi&#269; &#352;ostakovi&#269; (p. 61)</li>
      <li>M. DONINNELLI - Il rigore della libert&agrave;. Il '900 tra misticismo e nuovi linguaggi sonori (p. 71)</li>
      <li>M. T. RUSSO - Gravidanza e maternit&agrave; tra antropologia e bioetica (p. 79)</li>
      <li>M. E. MARIUZZI - Ti amo da morire - La violenza nella coppia (p. 88)</li>
      <li>A. DE STEFANO - La parola nasce in cammino (p. 103)</li>
      <li>E. BATTAINO - Raccontami una storia... mentre fuori nevica (continuazione) (p. 107)</li>
      <li>L. GRATTONI - Poesie (p. 114)</li>
      <li>M. COCCO - Poesie (p. 116)</li>
      <li>J. ZAGNOLI - Poesie (p. 118)</li>
      <li>G. SCHIFF - Report about the activity carried out in 2011 (p. 119)</li>
      <li>CORO &quot;HARMONIA&quot; - Repertory of the choir (p. 123)</li>
     </ul>
     <p><a href="/download/pdf/quaderno-9-2011.pdf">Download the pdf</a></p>
    </div>
